@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


@theme {
  --font-outfit: "Outfit", sans-serif;
}

body {
  font-family: "Outfit", sans-serif;
}

:root {
  --color-bg-main: #F7F3EB;
  --color-bg-second: #ECEDE3;
  --color-accent: #738F6D;
}